//Todos los botones o lo que simula ser un boton
@use "../var";
@mixin buttons($font-size, $padding, $width, $height ){
    button{
        width: $width - 33;
        text-align: center;
        padding: $padding * 1.7;
        text-transform: uppercase;
        font-size: $font-size;
        height: $height - 30;
        border-radius: 9999px;
        margin-top: $padding +1;
        border: none;
        background-color: var.$bg-color-dark;
        color: var.$bg-color;
        &:hover{
            background-color: var.$bg-color-dark-hover;
        }
        .icon{
            &__rigth{
                font-size: $font-size + 1;
                font-weight: 800;
                display: none;
            }
            &__left{
                font-size: $font-size + 1;
                font-weight: 800;
                display: none;
            }
        }
    }

    .botones{
        width: $width + 2;
        height: $height;
        margin-top: $height ;
    }

}