//Donde se unen todos los scss antes de pasarlo al file components
@use "../var";
@use "./seleccion";
@use "./pages" as p;

.form{
    justify-content: center;
    color: var.$color-dark;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    h1{
        text-align: right;
    }
    .datos{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        fieldset{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        button{
            cursor: pointer;
            
        }
        
    }
        
}