//Todo lo relacionado con la page de submit y su componente confirm text PARA MOBILE
@use "../var";

@mixin submitMobile($font-size, $padding, $width, $height){
    
    .square{
        background-color: var.$bg-color-dark;
        width: $width + 2;
        height: $width + 10;
        align-items: center;
        justify-content: center;
        margin-top: -$font-size - 3;        
        margin-left: $font-size;
        .colum{
            margin-left: $padding + 6;
            margin-top: $font-size;
            display: flex;
            flex-direction: row;
            gap: $height + 5;
            color: var.$bg-color;
            font-size: $font-size -0.7;
            .columone{
                padding: $padding + 2;
            }
            .columtwo{
                padding: $padding + 2;
            }
        }
        .botones{
            margin-bottom: $padding + 2;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            button{
                height: $height + 1.5;
                
                p{
                    display: none;
                }
                .icon{
                    &__rigth{
                        
                        font-size: $font-size + 2;
                        font-weight: 800;
                        display: block;
                    }
                    &__left{
                        font-size: $font-size + 2;
                        font-weight: 800;
                        display: block;
                    }
                    &__confirm{
                        font-size: $font-size + 2;
                        display: block;
                        color: var.$bg-color;
                }
                &__close{
                    font-size: $font-size + 2;
                    display: block;
                    color: var.$bg-color;
            }

                }
            }
    
        }
        h1{
            color: var.$bg-color;
            text-align: center;
            margin-top: $font-size + 10;
            font-size: $font-size + 2;
            padding: $padding + 6;
        }
    }

    .h2{
        padding: $padding - 0.2;
        text-align: start;
        font-weight: 700;
    }
    .h4{
        $pad: $padding - 0.2;
        $padd: $padding ;
        padding: 0 0  $padd $pad;
        text-align: start;
        font-weight: 300;
    }

}

@mixin submitMobileSmall($font-size, $padding, $width, $height){
    
    .square{
        background-color: var.$bg-color-dark;
        width: $width + 6;
        height: $width + 28;
        align-items: center;
        justify-content: center;
        margin-top: -$font-size - 3;        
        margin-left: 2rem;
        
        .colum{
            margin-top: $font-size;
            display: flex;
            flex-direction: row;
            gap: 5rem;
            margin-left: $font-size + 6;
            width: 18rem;
            color: var.$bg-color;
            font-size: $font-size + 0.3;
            .columone{
                padding: $padding;
            }
            .columtwo{
                padding: $padding;
            }
        }
        .botones{
            margin-bottom: $padding + 2;
            display: flex;
            margin-left: $font-size + 5;
            flex-direction: row;
            justify-content: space-around;
            button{
                
                p{
                    display: none;
                }
                .icon{
                    &__rigth{
                        
                        font-size: $font-size + 2;
                        font-weight: 800;
                        display: block;
                    }
                    &__left{
                        font-size: $font-size + 2;
                        font-weight: 800;
                        display: block;
                    }
                    &__confirm{
                        font-size: $font-size + 2;
                        display: block;
                        color: var.$bg-color;
                }
                &__close{
                    font-size: $font-size + 2;
                    display: block;
                    color: var.$bg-color;
            }
                    
                }
            }
    
        }
        h1{
            color: var.$bg-color;
            text-align: center;
            margin-top: $font-size + 2;
            font-size: $font-size + 1.5;
            padding: $padding + 2;
            margin-left: $font-size + 3;
            width: $padding + 28;
        }
    }

    .h2{
        padding: $padding - 0.2;
        text-align: start;
        font-weight: 700;
    }
    .h4{
        $pad: $padding - 0.2;
        $padd: $padding ;
        padding: 0 0  $padd $pad;
        text-align: start;
        font-weight: 300;
    }

}