@use "font";

//Font family
$font-family: 'Karla', sans-serif;

//Colors
$bg-color: rgba(234, 245, 255, 1);
$bg-color-dark: rgba(36, 122, 201, 1);
$bg-color-dark-hover: rgb(22, 72, 119);
$color-dark: rgba(47, 47, 47, 1);
