@use "../components/mobile";
@use "../components/pages" as i;
//@use "../components/submitMobile" as s;

@media (min-width:320px){
        .container{
            width: 100%;
            height: 96.9vh;
            gap: 2rem;
            
            .logo{
                width: 35.6rem;
                height: 8rem;
                margin:0;
                margin-left: 4rem;
                margin-top: -0.4rem;
                padding: 0;
                p{
                    margin-left: 5rem;
                    width:  29rem;
                    height: 8.8rem;
                    font-size: 4.9rem;
                    letter-spacing: -0.2rem;
                    line-height: 4.35rem;
                }
            }
            .form{
                
                gap: 5rem;
                margin-left: 10rem;
                width: 90%;
                height: 90%;
                .datos{
                    .puntuacion{
                        gap: 2rem;
                        margin-bottom: 0.5rem;
                    }

                input[type="radio"]+label{
                    font-size: 4rem;
                }
                }
                h1{
                    font-size: 2.6rem;
                }
                h3{
                    margin-top: -1.5rem;
                    text-align: center;
                }
                fieldset{
                    label{
                        margin-top: 0.8rem;
                        font-size: 1.2rem;
                    }
                    gap: 10px;
                    border-bottom: 1rem;
                }
                .botones{
                    margin-top: 6rem;
                }
                //$font-size, $padding, $width, $height
                @include i.pages(1.1rem, 0.4rem, 30rem, 2rem);
            }
        }
                
        
        
        

    }
