// M칩vil medio: 375 x 667 px.
// Smartphone grande: 720 x 1280 px.
// Ordenador port치til medio: 1366 x 768 px.
// Ordenador de escritorio medio: 1440 x 900 px.
// PC de escritorio grande: 1920 x 1080 px.

@use "./celular-peque침o";
@use "./celular";
@use "./celular-big";
@use "./laptop-peque침a";
@use "./tablet";
@use "./laptop";
@use "./laptop-grande";
@use "./monitor";

