@use "../components/pages" as i;

@media (min-width:1460px){
    .local{
        .container{
            width: 80%;
            height: 96vh;
            gap: 17rem;
            
            .logo{
                width: 15.2rem;
                height: 42.8125rem;
                p{
                    width: 19.7rem;
                    margin-left: -2.15rem;
                    margin-top: -0.2rem;
                    font-size: 9rem;
                    letter-spacing: 0.2rem;
                    line-height: 6.25rem;
                }
            }
            .form{
                width: 80%;
                height: 90%;
                h1{
                    font-size: 2.7rem;
                }
                h3{
                    margin-top: -1.7rem;
                }
                fieldset{
                    label{
                        font-size: 1.4rem;
                        margin-top: 1rem;
                    }
                    gap:30px;
                    border-bottom: 1.2rem;
                }
                @include i.pages(1.4rem, 0.8rem, 44rem, 2rem);
            }
        }
    }

}


